html {
  background-color: #C6AD95;
}
.banner {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #E8CCBF;
  gap: 20px;
  margin-bottom: 20px;
}
nav {
  display: flex;
  flex-direction: column;
  gap: 10px;
  align-items: center;
  margin-bottom: 20px;
  color: black;
  background-color: #C6AD95;
}
a {
  color: #71291e;
  text-decoration: none;
  font-family: Helvetica;
}
nav a:hover{
  text-decoration: underline;
  color: #E8CCBF;
}
h1 {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  background-color: #C6AD95;
  font-family: pacifico;
  color: #71291e;
}
header {
  padding: 20px auto;
  display: flex;
  flex-direction: column;
  gap: 20px;
  align-items: center;
  background-color: #C6AD95;
}
 .headerlogo img {
  max-width: 100%;
  object-fit: cover;
  width: 150px;
  justify-content: flex-start;
  align-items: flex-end;
 }
  img {
    max-width: 100%;
    object-fit: cover;
    width: 200px;
    border-radius: 20px;
  }

  .firstsection img {
    height: 200px;
  }

  .secondsection img {
    height: 200px;
    margin-top: 20px;
  }
  section {
    display: flex;
    flex-direction: column;
    gap: 5px;
    align-items: center;
    background-color: #C6AD95;
  }
  footer {
    display: flex;
    flex-direction: column;
    gap: 5px;
    padding: 20px auto;
    align-items: center;
    background-color: #C6AD95;
    color: #71291e;    
    font-size: 10px;
  }
  p {
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: Helvetica;
  }
  .detailproduct {
    text-align: center;
    margin-bottom: 60px;
    h2 {
      margin-bottom: 10px;
    }
    p {
      display: flex;
      align-items: center;
      margin: 0;
    }
  }
.Weare {
  display: flex;
  text-align: center;
  h1 {
    margin-bottom: 10px;
    font-family: Helvetica;
  }
  h2 {
    margin-bottom: 10px;
    font-family: Helvetica;
  }
  p {
      font-family: Arial, Helvetica, sans-serif;
      font-weight: normal;
      color: #fdfdfb;
      background-image: url(/Photos/WeAre.jpeg);
      background-size: cover;
      background-position: center;
      height: 300px;
      border-radius: 10px;

    }
}
.Weare p {
  height: 300px;
  border-radius: 10px;
}
.firstsectiondetail {
  color: #71291e;
}
.firstsectiondetail h2 {
  margin-bottom: 30px;
}
.firstsectiondetail img {
  width: 300px;
  height: 300px;
}
  @media (min-width: 768px) {
    header {
      flex-direction: row;
      padding: auto 30px;
      justify-content: space-evenly;
    }
    h1 {
      margin: auto 0;
    }
    nav {
      margin: auto 0;
    }
    main {
      padding: 0 30px;
    }
    footer {
      display: flex;
      flex-direction: row;
      justify-content: space-evenly;
      align-items: center;
      padding: 0 50px;
    }
    p {
      display: flex;
      justify-content: center;
      align-items: center;
    }
  }

  @media (min-width: 1200px) {
    nav {
      align-items: center;
    }
    header {
      padding: 20 px;
      display: flex;
      justify-content: space-between;
      align-items: center;
      direction: flex;
      flex-direction: row;
    }
    header nav {
      display: flex;
      flex-direction: row;
    }
    footer {
      align-items: center;
      display: flex;
      flex-direction: row;
      padding: 0;
      margin-bottom: 20px;
      margin-top: 20px;
    }
    footer nav {
      direction: flex;
      flex-direction: row;
      justify-content: space-around;
    }
    .firstsectiondetail {
      display: flex;
      flex-direction: row;
      justify-content:  space-around;
    }
    .firstsectiondetail img {
      width: 20%;
      border-radius: 20px;
    }
    .secondsection {
      display: flex;
      flex-direction: row;
      justify-content: space-around;
    }
    .secondsection img {
      height: 300px;
      width: 300px;
    }
    .secondsection article {
      width: 900px;
      display: flex;
      flex-direction: column;
      align-items: center;
    }   
  }
